<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>小鑫免费简历网</title>
		<meta content="width=device-width, initial-scale=1.0" name="viewport">
		<meta content="" name="keywords">
		<meta content="" name="description">

		<!-- Favicons -->
		<link href="{$name}/public/img/favicon.png" rel="icon">
		<link href="{$name}/public/img/apple-touch-icon.png" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
		 rel="stylesheet">

		<!-- Bootstrap CSS File -->
		<link href="{$name}/public/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Libraries CSS Files -->
		<link href="{$name}/public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="{$name}/public/lib/animate/animate.min.css" rel="stylesheet">
		<link href="{$name}/public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
		<link href="{$name}/public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
		<link href="{$name}/public/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
		<link href="{$name}/public/lib/ionicons/css/ionicons.min.css" rel="stylesheet">

		<!-- Main Stylesheet File -->
		<link href="{$name}/public/css/style.css" rel="stylesheet">
	</head>

	<body id="body">

		<!--==========================
    顶栏目
  ============================-->
		<section id="topbar" class="d-none d-lg-block">
			<div class="container clearfix">
				<div class="contact-info float-left">
					<i class="fa fa-envelope-o"></i> <a href="mailto:2013182991@qq.com">2013182991@qq.com</a>
					<i class="fa fa-phone"></i> +182 5582 8479
				</div>
				<div class="social-links float-right">
					<a href="mailto:2013182991@qq.com" class="twitter"><i class="fa fa-twitter"></i></a>
					<a href="mailto:2013182991@qq.com" class="facebook"><i class="fa fa-facebook"></i></a>
					<a href="mailto:2013182991@qq.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
					<a href="mailto:2013182991@qq.com" class="linkedin"><i class="fa fa-linkedin"></i></a>
					<a href="mailto:2013182991@qq.com" class="instagram"><i class="fa fa-instagram"></i></a>
				</div>
			</div>
		</section>

		<!--==========================
    头部
  ============================-->
		<header id="header">
			<div class="container">

				<div id="logo" class="pull-left">
					<h1><a href="#body" class="scrollto"><span>小鑫</span>免费简历网</a></h1>
					<!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
				</div>

				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="{$name}/home/index/index">首页</a></li>
						<li><a href="{$name}/home/index/contact">留言板</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</header><!-- #header -->

		<!--==========================
    引导体
  ============================-->
		<section id="intro">

			<div class="intro-content">
				<h2><span>免费简历</span><br>请登陆后免费使用哦！没有账号的宝贝们请<a href="{$name}/home/index/register">注册</a>哈！</h2>
				<div>
					<a href="{$name}/home/index/login" class="btn-get-started scrollto">登陆</a>
				</div>
			</div>
			<div class="item" style="background-image: url('{$name}/public/img/intro-carousel/1.jpg');"></div>
		</section><!-- #intro -->

		<main id="main">

			<!--==========================
      内容主体
    ============================-->
			<section id="about" class="wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2>如何写好一份简历</h2>
						<p>六月份，又到毕业季了，又将有一大批应届毕业生迈出校门，步入职场。
						那么对于很多没有工作经验的应届毕业生来说，应该不知道如何去写好一份简历吧!
						简历对于一个求职者来说就是一个门面，是吸引企业关注自己的第一关，也是求职的第一关，
						那么我们怎样去写出一份好的求职简历呢?</p>
					</div>
					<div class="row">
						<div class="col-lg-6 about-img">
							<img src="{$name}/public/img/about-img.png" alt="">
						</div>

						<div class="col-lg-6 content">
							<h3>第一部分：基本信息</h3>
							<p style="font-size: 12px;">
							这一点最重要的就是真实，可靠。我们只有把自己的一些基础信息认真且全面的填写上去，
							能让企业了解到自己和联系到自己就行了。
							最后再把自己美丽或者帅气的照片贴上去就可以了。</p>
							<h3>第二部分：工作经验</h3>
							<p style="font-size: 12px;">
							这估计是很多同学都不知道怎么写的一个部分吧!其实这里我们可以把自己在校期间组织过的一些社团活动写上，
							也可以把自己参加过的兼职或者暑假工时的一些工作经验写上去。
							在写工作经验时一定要有针对性，如果写一些与应聘单位无关紧要的工作经验，那写上去也是毫无意义的。</p>
							<h3>第三部分：荣誉证书</h3>
							<p style="font-size: 12px;">现在企业在招人的时候大多数会考虑选择一些综合实力强的人才，
							所以我们可以把自己在校期间所得过的一些荣誉奖项和技能证书也写上去，
							让招聘单位对你有进一步的了解，这将会大大提高你应聘成功的几率</p>
						</div>
					</div>

				</div>
			</section><!-- #about -->

			<!--==========================
      简历模板展示
    ============================-->
			<section id="services">
				<div class="container">
					<div class="section-header">
						<h2>网站特色</h2>
						<p>我一个人开发精力有限，目前能够展示的不多。相信不久的未来，会有更多的功能提供给大家使用。</p>
					</div>

					<div class="row">

						<div class="col-lg-4">
							<div class="box wow fadeInLeft">
								<div class="icon svgImg"><img src="{$name}/public/img/undraw_maker_launch_crhe.svg" alt=""></div>
								<h4 class="title"><a href="">简历快速生成</a></h4>
								<p class="description">用户通过表格的形式快速，定向完成一份简历，并生成网页版个人简历。</p>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="box wow fadeInRight">
								<div class="icon svgImg"><img src="{$name}/public/img/undraw_mobile_marketing_iqbr.svg" alt=""></div>
								<h4 class="title"><a href="">手机端网页兼容</a></h4>
								<p class="description">生成网页版简历将进行手机端兼容设置，电脑，手机都可以很清晰的让企业了解你。</p>
							</div>
						</div>

						<div class="col-lg-4">
							<div class="box wow fadeInLeft" data-wow-delay="0.2s">
								<div class="icon svgImg"><img src="{$name}/public/img/undraw_scrum_board_cesn.svg" alt=""></div>
								<h4 class="title"><a href="">转PDF格式</a></h4>
								<p class="description">支持将网页版简历转pdf格式下载到您的手机或者电脑，让投简历更加便捷。</p>
							</div>
						</div>

					</div>

				</div>
			</section><!-- #services -->
			
			<!--==========================
      留言板
    ============================-->
			<section id="testimonials" class="wow fadeInUp">
				<div class="container">
					<div class="section-header">
						<h2>留言板</h2>
						<p>欢迎大家留言，指出不足和需要改进的地方，相信我们会越做越好！！</p>
					</div>
					<div class="owl-carousel testimonials-carousel">

						<volist name="data" id="vo">
						<div class="testimonial-item">
							<p>{$vo.text}

							</p>
							<h3>{$vo.name}</h3>
							<h4>{$vo.email}</h4>
						</div>

						</volist>


					</div>

				</div>
			</section><!-- #testimonials -->

			<!--==========================
      加入我们
    ============================-->
			<section id="call-to-action" class="wow fadeInUp">
				<div class="container">
					<div class="row">
						<div class="col-lg-9 text-center text-lg-left">
							<h3 class="cta-title">加入我们</h3>
							<p class="cta-text">
								热情招揽PS,HTML5,PHP,JS,CSS等方面的大神。因为我做这个网站是为了服务大家,不会向大家收取任何费用。<br />
								所以也毫无收入可言,因此加入我们的小伙伴们,你们懂的哟,我们的创造的动力源于热情。
							</p>
						</div>
						<div class="col-lg-3 cta-btn-container text-center">
							<a class="cta-btn align-middle" href="javascript:;" onClick="myselfinfo()">加入我们</a>
						</div>
					</div>

				</div>
			</section><!-- #call-to-action -->


		</main>

		<!--==========================
    底部
  ============================-->
		<footer id="footer">
			<div class="container">
				<div class="copyright">
					隆鑫工作室 &copy; 2019.11.7 &nbsp;创始人： &nbsp;连思鑫
				</div>
				<div class="credits">
				</div>
			</div>
		</footer><!-- #footer -->

		<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

		<!-- JavaScript  -->
		<script src="{$name}/public/lib/jquery/jquery.min.js"></script>
		<script src="{$name}/public/lib/jquery/jquery-migrate.min.js"></script>
		<script src="{$name}/public/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="{$name}/public/lib/easing/easing.min.js"></script>
		<script src="{$name}/public/lib/superfish/hoverIntent.js"></script>
		<script src="{$name}/public/lib/superfish/superfish.min.js"></script>
		<script src="{$name}/public/lib/wow/wow.min.js"></script>
		<script src="{$name}/public/lib/owlcarousel/owl.carousel.min.js"></script>
		<script src="{$name}/public/lib/magnific-popup/magnific-popup.min.js"></script>
		<script src="{$name}/public/lib/sticky/sticky.js"></script>
		<script src="{$name}/public/contact/jqBootstrapValidation.js"></script>
		<script src="{$name}/public/contact/contact_me.js"></script>
		<script src="{$name}/public/js/main.js"></script>
		<script type="text/javascript" src="{$name}/public/admin/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
		<script type="text/javascript" src="{$name}/public/admin/lib/layer/2.4/layer.js"></script>
		<script type="text/javascript">
			/*个人信息*/
			function myselfinfo(){
				layer.open({
					type: 1,
					area: ['400px', '500px'],
					fix: false, //不固定
					maxmin: true,
					shade: 0.4,
					title: '加入我们',
					content: '<img width="400px" height="400px" src="{$name}/public/img/QQ.jpg" alt="">'

				});
			}
		</script>
	</body>
</html>
